body {
    align-items: center;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 2; }
}

.product {
    padding: 20px;
    margin: 20px;
    background: #e6e6ff;
    box-sizing: border-box;
    text-align: left;
    transition: box-shadow 0.25s ease-in, transform 0.5s linear;
    flex: 1;
    max-width: 400px;
    animation-delay: 20s;
}

.product:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: #990099;
    transform: scale(1.1);
}

.product__img {
    height: 300px;
    width: 360px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.product__name {
    font-size: 20px;
    box-sizing: border-box;
}

.product__category {
    font-size: 12px;
    box-sizing: border-box;
}

.product__description {
    font-size: 15px;
    box-sizing: border-box;
}

.product__price {
    float: right;
    box-sizing: border-box;
}

.clear-fix {
    clear: both;
}